'.source.js':
  'Stateless React Native Component Stub':
    'prefix': 'nrsc'
    'body': """
      import React from 'react'

      import {
        View,
        Text,
        TouchableHighlight
      } from 'react-native'

      export default ($1) => {
        return (
          <View>
          $2
          </View>
        )
      }
    """
  'React Native Component Stub':
    'prefix': 'nrc'
    'body': """
      import React, {
        Component
      } from 'react'

      import {
        View,
        Text,
        TouchableHighlight
      } from 'react-native'

      class $1 extends Component {

        constructor (props) {
          super(props)
        }

        render() {
          return (
            <View>
            $2
            </View>
          )
        }

      }

      export default $3
    """
